<h2>Brais de Sousa Díaz</h2>
<p>Para la realización de esta práctia se ha utilizado Angular JS y Bootrsap para el frontend, y PHP con la clase class.MysQL.php
para el backnd</p>
<p>La clase class.MySQL.php puede encontrarse en <a href="https://github.com/a1phanumeric/PHP-MySQL-Class" target="_blank">Github - Php-MyClass</a></p>
<p>El código de esta aplicaccion esta disponible en <a href="https://bitbucket.org/braisdesousa/unirphp" target="_blank">BitBucket - UnirPhp</a></p>