<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>myIMDB - My Internet Movie Database</title>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>

    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="./assets/css/theme.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document" cz-shortcut-listen="true" data-ng-app="myImdbApp" data-ng-controller="moviesCtrl">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./">myIMDB</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li data-ng-class="{active: homeActive}"><a href="./">Inicio</a></li>
            <li data-ng-class="{active: !homeActive}"><a href="./#about">Alumno</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" role="main">
        <div ng-view></div>
    </div> <!-- /container -->


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="modal-close" type="button" class="close" data-ng-click="hideModal()" aria-hidden="true">×</button>
                    <!--<button id="modal-close" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                    <h4 class="modal-title" data-ng-show="editingMode" id="myModalLabel">Editar Película</h4>
                    <h4 class="modal-title" data-ng-hide="editingMode" id="myModalLabel">Añadir Película</h4>
                </div>
                <div class="modal-body">
                    <form role="form" name="addEditModal">
                        <div class="form-group">
                            <label for="title">Título</label>
                            <input type="text" class="form-control" id="title" placeholder="Introduce el título de la película" data-ng-model="movie.title">
                        </div>
                        <div class="form-group">
                            <label for="director">Director</label>
                            <input type="text" class="form-control" id="director" placeholder="Introduce el director de la película" data-ng-model="movie.director">
                        </div>
                        <div class="form-group">
                            <label for="year">Año</label>
                            <input type="number" class="form-control" id="year" placeholder="Introduce el año de la película" data-ng-model="movie.year">
                        </div>
                        <div class="form-group">
                            <label for="synopsis">Sinopsis</label>
                            <textarea id="synopsis" class="form-control" rows="8" placeholder="Introduce la sinopsis de la película" data-ng-model="movie.synopsis"></textarea>
                        </div>
                    </form>
                    <div id="modal-alert"></div>
                </div>
                <div class="modal-footer">
                    <button id="cancelModal" type="button" class="btn btn-custom" data-ng-click="hideModal()">Cancelar</button>
                    <button id="editMovie" type="button" class="btn btn-custom" data-ng-disabled="addEditModal.$invalid" data-ng-show="editingMode" data-ng-click="edit()">Editar</button>
                    <button id="addMovie" type="button" class="btn btn-custom" data-ng-disabled="addEditModal.$invalid" data-ng-hide="editingMode" data-ng-click="add()">Añadir</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myDeleteModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="delete-modal-close" type="button" class="close" data-ng-click="hideDeleteModal()" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myDeleteModalLabel">Eliminar Película</h4>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de querer eliminar la película '{{ movie.title }}'?</p>
                    <div id="delete-modal-alert"></div>
                </div>
                <div class="modal-footer">
                    <button id="cancelDeleteModal" type="button" class="btn btn-custom" data-ng-click="hideDeleteModal()">Cancelar</button>
                    <button id="deleteMovie" type="button" class="btn btn-custom" data-ng-click="delete()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="myResetModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="reset-modal-close" type="button" class="close" data-ng-click="hideResetModal()" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myResetModalLabel">Reiniciar la BBDD</h4>
                </div>
                <div class="modal-body">
                    <p>Se borrarán todas los datos y se cargará el juego de datos de prueba. ¿Estás seguro de querer reiniciar la BBDD?</p>
                    <div id="reset-modal-alert"></div>
                </div>
                <div class="modal-footer">
                    <button id="cancelResetModal" type="button" class="btn btn-custom" data-ng-click="hideResetModal()">Cancelar</button>
                    <button id="resetDB" type="button" class="btn btn-custom" data-ng-click="resetDB()">Reiniciar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./app/app.js"></script>
    <script src="./app/controllers/moviesCtrl.js"></script>

    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>