<div class="row">
    <div class="page-header">
        <h2>Tipo de búsqueda</h2>
    </div>
    <div id="main-alert"></div>
    <div class="btn-group col-md-4">
        <button type="button" class="btn btn-default btn-lg" data-ng-class="{active: searchAll}" data-ng-click="setSearchAll(true)">Buscar todas</button>
        <button type="button" class="btn btn-default btn-lg" data-ng-class="{active: !searchAll}" data-ng-click="setSearchAll(false)">Buscar por título</button>
    </div>
    <div class="col-md-8">
        <form role="form">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" data-ng-disabled="searchAll" data-ng-model="searchField.val" data-ng-keydown="enterSend($event, searchField)">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" data-ng-disabled="searchAll || !searchField.val || searchField.val.length==0" data-ng-click="getData(searchField)">Buscar</button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div id="movies" data-ng-show="data">
        <div class="page-header">
            <h2>Películas</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Título</th>
                        <th>Director</th>
                        <th>Año</th>
                        <th>Sinopsis</th>
                        <th>Editar</th>
                        <th>Borrar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="movie in data">
                        <td>{{ movie.title }}</td>
                        <td>{{ movie.director }}</td>
                        <td>{{ movie.year }}</td>
                        <td>{{ movie.synopsis }}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#myModal" data-ng-click="editModal(movie)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default btn-md" data-ng-click="deleteModal(movie)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ul class="pager pager-lg" data-ng-show="numPages>1">
        <li data-ng-class="{disabled: currentPage==1}" data-ng-click="pager(-1)"><a>Anterior</a></li>
        <li data-ng-class="{disabled: currentPage==numPages}" data-ng-click="pager(1)"><a>Siguiente</a></li>
    </ul>
</div>
<div class="row">
    <button id="addButton" type="button" class="btn btn-default btn-lg pull-right" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-plus"></span> Añadir película
    </button>
    <button id="initDbButton" type="button" class="btn btn-default btn-lg pull-right" data-toggle="modal" data-target="#resetModal">
        <span class="glyphicon glyphicon-list-alt"></span> Reiniciar BBDD
    </button>
</div>