body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.pager a {
    color: #232425;
}

.pager a:hover, .pager a:focus {
    color: #131314;
}

#addButton, #initDbButton {
    margin-top: 15px;
    margin-left: 15px;
}
